Repository securesign/policy-controller-operator: changes, and which Tekton pipelines are due for each by the changed paths.
All: policy-controller-operator-bundle-on-pull-request, policy-controller-operator-bundle-on-push, policy-controller-operator-on-push

policy-controller-operator-bundle-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/securesign/policy-controller-operator-bundle:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: dockerfile
    value: bundle.Dockerfile
  - name: hermetic
  ...

policy-controller-operator-bundle-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/securesign/policy-controller-operator-bundle:{{revision}}
  - name: dockerfile
    value: bundle.Dockerfile
  - name: hermetic
    value: 'true'
  - name: build-source-image
  ...

policy-controller-operator-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/securesign/policy-controller-operator:{{revision}}
  - name: dockerfile
    value: Dockerfile
  - name: hermetic
    value: 'true'
  - name: build-source-image
    value: 'true'
  ...

build: update ose-cli image
  helm-charts/policy-controller-operator/values.yaml
Due: policy-controller-operator-bundle-on-pull-request, policy-controller-operator-bundle-on-push, policy-controller-operator-on-push

build: update pc image
  helm-charts/policy-controller-operator/values.yaml
Due: policy-controller-operator-bundle-on-pull-request, policy-controller-operator-bundle-on-push, policy-controller-operator-on-push

Merge pull request #114 from securesign/fix-ec
  .gitignore
  Makefile
  artifacts.lock.yaml
  bundle.Dockerfile
  hack/build-bundle.sh
Due: policy-controller-operator-bundle-on-pull-request, policy-controller-operator-bundle-on-push

ci: enable unit tests for tech-preview
  .github/workflows/main.yml
Due: none

build: update docker images
  Dockerfile
  bundle.Dockerfile
Due: policy-controller-operator-bundle-on-pull-request, policy-controller-operator-bundle-on-push, policy-controller-operator-on-push

fix: use tag + digest for image ref
  Dockerfile
Due: policy-controller-operator-bundle-on-pull-request, policy-controller-operator-bundle-on-push, policy-controller-operator-on-push

add prefetch step
  .tekton/policy-controller-operator-pull-request.yaml
  .tekton/policy-controller-operator-push.yaml
  rpms.in.yaml
  rpms.lock.yaml
  ubi.repo
Due: policy-controller-operator-bundle-on-pull-request, policy-controller-operator-bundle-on-push, policy-controller-operator-on-push

add prefetch step
  Dockerfile
  rpms.in.yaml
  rpms.lock.yaml
Due: policy-controller-operator-bundle-on-pull-request, policy-controller-operator-bundle-on-push, policy-controller-operator-on-push

fix: add prefetch + swap to minimal image variants
  .tekton/policy-controller-operator-pull-request.yaml
  .tekton/policy-controller-operator-push.yaml
  Dockerfile
  rpms.in.yaml
  rpms.lock.yaml
  ubi.repo
Due: policy-controller-operator-bundle-on-pull-request, policy-controller-operator-bundle-on-push, policy-controller-operator-on-push

build: update pc image, fix version
  bundle.Dockerfile
  helm-charts/policy-controller-operator/values.yaml
Due: policy-controller-operator-bundle-on-pull-request, policy-controller-operator-bundle-on-push, policy-controller-operator-on-push

fix: fix deployments on older clusters
  helm-charts/policy-controller-operator/values.yaml
Due: policy-controller-operator-bundle-on-pull-request, policy-controller-operator-bundle-on-push, policy-controller-operator-on-push

:robot: [main] [2026-02-19T16:03:13Z] Update Bundle image
  Makefile
  bundle.Dockerfile
  config/manager/images.env
  config/manager/kustomization.yaml
Due: policy-controller-operator-bundle-on-pull-request, policy-controller-operator-bundle-on-push

build: fix cpe label, update pc image
  .tekton/policy-controller-operator-bundle-pull-request.yaml
  .tekton/policy-controller-operator-bundle-push.yaml
  .tekton/policy-controller-operator-pull-request.yaml
  .tekton/policy-controller-operator-push.yaml
  Dockerfile
  helm-charts/policy-controller-operator/values.yaml
Due: policy-controller-operator-bundle-on-pull-request, policy-controller-operator-bundle-on-push, policy-controller-operator-on-push

:robot: [main] [2026-02-20T17:56:42Z] Update component images
  helm-charts/policy-controller-operator/values.yaml
Due: policy-controller-operator-bundle-on-pull-request, policy-controller-operator-bundle-on-push, policy-controller-operator-on-push

:robot: [main] [2026-02-23T13:42:36Z] Update Bundle image
  Makefile
  bundle.Dockerfile
  config/manager/images.env
  config/manager/kustomization.yaml
Due: policy-controller-operator-bundle-on-pull-request, policy-controller-operator-bundle-on-push

:robot: [main] [2026-02-23T16:55:42Z] Update component images
  helm-charts/policy-controller-operator/values.yaml
Due: policy-controller-operator-bundle-on-pull-request, policy-controller-operator-bundle-on-push, policy-controller-operator-on-push

fix: bundle generation
  config/manifests/bases/policy-controller-operator.clusterserviceversion.yaml
  config/manifests/kustomization.yaml
Due: policy-controller-operator-bundle-on-push

test: backport e2e tests
  Makefile
  test/e2e/byok_install_test.go
  test/e2e/common_install_test.go
  test/e2e/e2e_suite_test.go
  test/e2e/policy_controller_e2e_test.go
  test/e2e/serialized_tuf_root_install_test.go
  test/e2e/update_e2e_test.go
  test/e2e/utils/kubernetes.go
  test/e2e_upgrade/e2e_suite_upgrade_test.go
  test/e2e_upgrade/upgrade_test.go
  test/utils/command.go
  test/utils/common.go
  test/utils/cosign.go
  test/utils/custom_resources/catalog_source/catalog_source.yaml.tpl
  test/utils/custom_resources/cluster_image_policies/common_cluster_image_policy.yaml.tpl
  test/utils/custom_resources/operator_group/operator_group.yaml.tpl
  test/utils/custom_resources/policy_controller/common_policy_controller.yaml.tpl
  test/utils/custom_resources/subscription/subscription.yaml.tpl
  test/utils/custom_resources/trust_roots/byok_trust_root.yaml.tpl
  test/utils/custom_resources/trust_roots/common_trust_root.yaml.tpl
  test/utils/custom_resources/trust_roots/stuf_trust_root.yaml.tpl
  test/utils/image.go
  test/utils/kubernetes.go
  test/utils/oidc.go
  test/utils/rhtas.go
  test/utils/support.go
Due: policy-controller-operator-bundle-on-pull-request, policy-controller-operator-bundle-on-push, policy-controller-operator-on-push

:robot: [main] [2026-02-26T11:27:56Z] Update Bundle image
  Makefile
  bundle.Dockerfile
  config/manager/images.env
  config/manager/kustomization.yaml
Due: policy-controller-operator-bundle-on-pull-request, policy-controller-operator-bundle-on-push

:robot: [main] [2026-02-26T12:07:57Z] Update component images
  helm-charts/policy-controller-operator/values.yaml
Due: policy-controller-operator-bundle-on-pull-request, policy-controller-operator-bundle-on-push, policy-controller-operator-on-push

:robot: [main] [2026-02-26T14:41:24Z] Update component images
  helm-charts/policy-controller-operator/values.yaml
Due: policy-controller-operator-bundle-on-pull-request, policy-controller-operator-bundle-on-push, policy-controller-operator-on-push

:robot: [main] [2026-02-26T15:58:31Z] Update Bundle image
  Makefile
  bundle.Dockerfile
  config/manager/images.env
  config/manager/kustomization.yaml
Due: policy-controller-operator-bundle-on-pull-request, policy-controller-operator-bundle-on-push

:robot: [main] [2026-02-27T09:18:54Z] Update component images
  helm-charts/policy-controller-operator/values.yaml
Due: policy-controller-operator-bundle-on-pull-request, policy-controller-operator-bundle-on-push, policy-controller-operator-on-push

build: update images and labels
  .tekton/policy-controller-operator-bundle-pull-request.yaml
  .tekton/policy-controller-operator-bundle-push.yaml
  .tekton/policy-controller-operator-pull-request.yaml
  .tekton/policy-controller-operator-push.yaml
  helm-charts/policy-controller-operator/values.yaml
Due: policy-controller-operator-bundle-on-pull-request, policy-controller-operator-bundle-on-push, policy-controller-operator-on-push

:robot: [main] [2026-02-27T10:17:37Z] Update Bundle image
  Makefile
  bundle.Dockerfile
  config/manager/images.env
  config/manager/kustomization.yaml
Due: policy-controller-operator-bundle-on-pull-request, policy-controller-operator-bundle-on-push

:robot: [main] [2026-03-03T14:44:36Z] Update Bundle image
  Makefile
  bundle.Dockerfile
  config/manager/images.env
  config/manager/kustomization.yaml
Due: policy-controller-operator-bundle-on-pull-request, policy-controller-operator-bundle-on-push

fix: pass pco into WebhookManagedBy
  cmd/internal/webhook/test/validatingwebhook_test.go
  cmd/internal/webhook/validatingwebhook.go
  cmd/main.go
Due: none

chore: update konflux refs
  .tekton/policy-controller-operator-bundle-pull-request.yaml
  .tekton/policy-controller-operator-bundle-push.yaml
  .tekton/policy-controller-operator-pull-request.yaml
  .tekton/policy-controller-operator-push.yaml
Due: policy-controller-operator-bundle-on-pull-request, policy-controller-operator-bundle-on-push, policy-controller-operator-on-push

ci: run go mod tidy
  go.mod
  go.sum
Due: policy-controller-operator-bundle-on-pull-request, policy-controller-operator-bundle-on-push, policy-controller-operator-on-push

CI: run go mod tidy
  go.mod
  go.sum
Due: policy-controller-operator-bundle-on-pull-request, policy-controller-operator-bundle-on-push, policy-controller-operator-on-push

ci: enable codecov coverage checks for pull requests
  .github/workflows/code-coverage.yml
  codecov.yml
Due: none

ci: fix coverage workflow Go version and bump codecov action
  .github/workflows/code-coverage.yml
Due: none

ci: bump actions to latest versions
  .github/workflows/code-coverage.yml
Due: none

chore: add coverage.out to .gitignore
  .gitignore
Due: none

Merge pull request #221 from securesign/add-codecov-coverage
  .github/workflows/code-coverage.yml
  .gitignore
  codecov.yml
Due: none

ci: remove rfc3161timestamp from docs
  docs/configuring_cluster_image_policy.md
Due: none

ci: switch codecov to OIDC auth and add coverage flags
  .github/workflows/code-coverage.yml
  codecov.yml
Due: none

ci: switch codecov to OIDC auth and add coverage flags (#226)
  .github/workflows/code-coverage.yml
  codecov.yml
Due: none

ci: add E2E test coverage upload to Codecov
  .github/workflows/code-coverage.yml
  .gitignore
  Makefile
  codecov.yml
Due: policy-controller-operator-bundle-on-push

Path conditions:
  policy-controller-operator-bundle-on-pull-request: (((((((any of: .tekton/policy-controller-operator-pull-request.yaml) or (any of: .tekton/policy-controller-operator-bundle-pull-request.yaml)) or (any of: Dockerfile)) or (any of: bundle.Dockerfile)) or (any of: helm-charts/***)) or (any of: test/***)) or (any of: go.mod)) or (any of: go.sum)
  policy-controller-operator-bundle-on-push: (((((((((any of: .tekton/policy-controller-operator-bundle-push.yaml) or (any of: .tekton/policy-controller-operator-push.yaml)) or (any of: Dockerfile)) or (any of: bundle.Dockerfile)) or (any of: helm-charts/***)) or (any of: test/***)) or (any of: go.mod)) or (any of: go.sum)) or (any of: Makefile)) or (any of: config/***)
  policy-controller-operator-on-push: ((((((any of: .tekton/policy-controller-operator-bundle-push.yaml) or (any of: .tekton/policy-controller-operator-push.yaml)) or (any of: Dockerfile)) or (any of: helm-charts/***)) or (any of: test/***)) or (any of: go.mod)) or (any of: go.sum)
